#countdown {
    color: #fff;
    font-size: 7em;
    line-height: 1em;
}

#countdownDetails{
    color: white;
    line-height: 1em;
    letter-spacing: 0px;
}
@media screen and (max-width: 400px) {
    #countdownDetails{
        font-size: 60%;
    }
}

@media screen and (min-width:400px) and (max-width: 750px) {
    #countdownDetails{
        font-size: 70%;
    }
}

#presentationHeader,#reverse{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.presentationJeiLeft{
    flex: 1;
}
.presentationJeiRight{
    flex: 1;
    margin-left:2em;
    margin-right:4em;
}
.presentationForumLeft{
    flex: 1;
    margin-left:4em;
}

.presentationForumRight{
    flex:1;
}

@media screen and (max-width: 830px) {
    #presentationHeader {
        flex-direction: column;
    }

    #reverse{
        flex-direction: column-reverse ;
    }

    .presentationJeiRight{
        margin-right:auto !important;
        margin-left: auto !important;
    }
    .presentationForumLeft{
        margin-right:auto !important;
        margin-left: auto !important;
    }

}

@media screen and (max-width: 420px) {

    .presentationPicture{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width:100%;
    }

}
@media screen and (max-width: 860px) {
    #homeHeader {
        height: auto;
    }
}

#presentationText {
    margin-bottom: 0;
    font-size: 1em;
}

#presentationTitle {
    margin-bottom: 0;
    font-size: 2em;
}

#homeHeader {
    padding-bottom: 2em;
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 2em;
    height: 100vh;
}


#navPanel:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /*background: url("images/overlay.png");*/
    background-size: 128px 128px;
}

#morePartnersDiv{
    text-align: center;
}

