.StatsSection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 2%;
    margin-right: 2%;
}

.Stat {
    flex:1;
    font-size: 1.25em;
    text-align: center;
}

.ImageStat{
    width: 100px;
    height: 100px;
    margin-bottom:1em;
    transition-delay: 250ms;
}

.Box {
    padding: 30px 20px 30px 20px;
    margin: 0 0 20px 0 !important;
    background-color: white;
    height:250px;
    overflow: hidden;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.Box:hover{
    transition-delay: 250ms;
    box-shadow: 0 1px 1px 0 #99282C;
}

.Box h4 {
    margin-bottom: 0.25em;
    font-weight: 900;
    letter-spacing: -0.020em;
    color:#99282C;

}

.Box.Style1 {
    width: 250px;
    margin-left: auto !important;
    margin-right: auto !important;
}

@media screen and (max-width: 540px ) {
    .Box.Style1 {
        width: 330px;
        height: 330px;
    }

    .ImageStat {
        width: 150px;
        height: 150px;
        margin-bottom: 0.25em;
    }
    .Box h4 {
        font-size: 1.2em;
    }
}

.wrapper {
    padding: 3em 0;
    text-align: center;
}