#footer ul{
    list-style: none!important;
    line-height: 2em!important;
}

hr {
    position: relative;
    display: block;
    border: 0;
    top: 2em;
    margin-bottom: 4em;
    height: 6px;
    border-top: solid 1px rgba(128, 128, 128, 0.2);
    border-bottom: solid 1px rgba(128, 128, 128, 0.2);
}

hr:before, hr:after {
    content: '';
    position: absolute;
    top: -8px;
    display: block;
    width: 1px;
    height: 10px;
    background: rgba(128, 128, 128, 0.2);
}

hr:before {
    left: -1px;
}

hr:after {
    right: -1px;
}

#footer {
    position: relative;
    overflow: hidden;
    padding: 2em 0 0 0!important;
    background: #2b252c;
    color: #fff;
    font-size: 17px;
}

#footer .icon.circled {
    background: #fff;
    color: #2b252c;
}

#footer header {
    text-align: center;
    cursor: default;
}

#footer h2, #footer h3, #footer h4, #footer h5, #footer h6 {
    color: #fff;
    margin-bottom:7px;
}

#footer .contact {
    text-align: center;
}

#footer .contact p {
    text-align: center;
    margin: 0 0 1em 0;
}

#footer .copyright {
    text-align: center;
    color: rgba(128, 128, 128, 0.75);
    font-size: 0.8em;
    cursor: default;
}

#footer .copyright a {
    color: rgba(128, 128, 128, 0.75);
}

#footer .copyright a:hover {
    color: rgba(212, 212, 212, 0.85);
}

#footer .widget-title {
    color: #ffffff;
    margin-bottom: 30px;
    letter-spacing: 0.3px;
    position: relative;
    padding-bottom: 15px;
}

@media (max-width: 800px) {
    .widget-title{
        padding-top: 20px;
    }
}

#footer .widget-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 60px;
    background: #ff6535;
}

#footer .widget-title::before {
    content: '';
    position: absolute;
    display: block;
    width: 60%;
    height: 1px;
    background: rgba(255, 255, 255, 0.1);
    bottom: 0.5px;
    left: 0;
}




#footer .widget-quick-links ul {
    margin-top: -4px!important;
}
#footer .single-widget ul {
    padding-left: 0;
    margin-bottom: 0;
}

#footer .widget-quick-links ul li {
    display: block;
    text-align: left;
}
@media (max-width: 800px) {
    #footer .widget-quick-links ul li{
        text-align: left;
        padding-left: 15vw;
    }
    #footer .images{
        margin: 10px 8px;
    }
}



#footer .single-widget ul li {
    list-style: none!important;

}
#footer .mapouter {
    /*position: relative;*/
    /*text-align: right;*/
    /*height: 220px;*/
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
#footer .gmap_canvas {

    border-radius: 10px;
    overflow: hidden;
    background: none !important;
    height: 174px;
    width: fit-content;
}

#footer .contact-list{
    text-align: left;
    padding-left: 50px;
}
@media (max-width: 800px) {
    #footer .contact-list{
        text-align: left;
        padding-left: 15vw;
    }

}
