@import url("https://fonts.googleapis.com/css?family=Raleway:200,700|Source+Sans+Pro:300,600,300italic,600italic");

#contactUs {
    padding-top: 50px;
    background-color: #2e3141;
    background-image: linear-gradient(to top, rgba(46, 49, 65, 0.6), rgba(46, 49, 65, 0.6)), url("./bg.jpg");
    background-size: auto, cover;
    background-attachment: fixed, fixed;
    background-position: center, center;
    line-height: 1;
    font-size: 13pt;
    font-weight: 300;
    margin-bottom: 0;
    height: 100vh;
    color: white!important;
}
ol, ul {
    list-style: none;
}
#contactUs blockquote,#contactUs q {
    quotes: none;
}

#contactUs blockquote:before,#contactUs blockquote:after,#contactUs q:before,#contactUs q:after {
    content: '';
    content: none;
}

#contactUs table {
    border-collapse: collapse;
    border-spacing: 0;
}


#contactUs mark {
    background-color: transparent;
    color: inherit;
}

#contactUs input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

#contactUs input,#contactUs select,#contactUs textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
}


#contactUs .inner {
    padding: 6em 0 3em 0 ;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 55em;
}

#contactUs .inner > * {
    width: 100%;
}

#contactUs .inner form {
    margin: 0 3em 0 0;
    width: calc(50% - 1.5em);
}

#contactUs .inner .contact {
    width: calc(50% - 1.5em);
}

#contactUs .inner .copyright {
    border-top: solid 2px rgba(255, 255, 255, 0.125);
    list-style: none;
    margin: 4em 0 2em 0;
    padding: 2em 0 0 0;
    width: 100%;
}

#contactUs .inner .copyright li {
    border-left: solid 2px rgba(255, 255, 255, 0.125);
    color: rgba(255, 255, 255, 0.35);
    display: inline-block;
    font-size: 0.9em;
    line-height: 1;
    margin-left: 1em;
    padding: 0;
    padding-left: 1em;
}

#contactUs .inner .copyright li:first-child {
    border-left: 0;
    margin-left: 0;
    padding-left: 0;
}

#contactUs .inner .copyright li a {
    color: inherit;
}

@media screen and (max-width: 1280px) {

    #contactUs {
        background-color: #2e3141;
        background-image: linear-gradient(to top, rgba(46, 49, 65, 0.6), rgba(46, 49, 65, 0.6)), url("./bg.jpg");
        background-size: auto,cover;
        background-position: center, center;
        margin-top: -6.5em;
        padding-top: 6.5em;
        height: 100%;
    }

}

@media screen and (max-width: 980px) {

    #contactUs {
        margin-top: -4.75em;
        padding-top: 4.75em;
        height: 100%;
    }


    #contactUs .inner {
        padding: 6em 3em 1em 3em ;
        display: block;
        width: 100%;
    }

    #contactUs .inner form {
        width: 100%;
        margin: 0 0 4em 0;
    }

    #contactUs .inner .contact {
        width: 100%;
        margin: 0 0 4em 0;
    }

    #contactUs .inner .copyright {
        margin: 4em 0 2em 0;
    }

}

@media screen and (max-width: 736px) {

    #contactUs {
        margin-top: -2.5em;
        padding-top: 2.5em;
    }

    #contactUs .inner {
        padding: 6em 2em 0.1em 2em ;
    }

    #contactUs .inner form {
        margin: 0 0 3em 0;
    }

    #contactUs .inner .contact {
        margin: 0 0 3em 0;
    }

}

@media screen and (max-width: 480px) {

    #contactUs .inner .copyright li {
        border-left: 0;
        display: block;
        margin: 1em 0 0 0;
        padding-left: 0;
    }

    #contactUs .inner .copyright li:first-child {
        margin-top: 0;
    }

}

@media screen and (max-width: 360px) {

    #contactUs .inner {
        padding: 8em 1.5em 0.1em 1.5em ;
    }

}

#contactUs input,#contactUs select,#contactUs textarea {
    color: #ffffff;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 16.5pt;
    font-weight: 300;
    line-height: 1.65;
}

@media screen and (max-width: 1680px) {

    #contactUs input,#contactUs select,#contactUs textarea {
        font-size: 13pt;
    }


}

@media screen and (max-width: 1280px) {

    #contactUs input,#contactUs select,#contactUs textarea {
        font-size: 12pt;
    }

}

@media screen and (max-width: 980px) {

    #contactUs input,#contactUs select,#contactUs textarea {
        font-size: 12pt;
    }

}

@media screen and (max-width: 736px) {

    #contactUs input,#contactUs select,#contactUs textarea {
        font-size: 12pt;
    }

}

@media screen and (max-width: 480px) {

    #contactUs input,#contactUs select,#contactUs textarea {
        font-size: 12pt;
    }

}

#contactUs a {
    -moz-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    border-bottom: dotted 1px rgba(255, 255, 255, 0.35);
    color: #ffffff;
    text-decoration: none;
}

#contactUs a:hover {
    border-bottom-color: transparent;
    color: #ffffff !important;
}

#contactUs a.special:not(.button) {
    text-decoration: none;
    border-bottom: 0;
    display: block;
    font-family: Raleway, Helvetica, sans-serif;
    font-size: 0.8em;
    font-weight: 700;
    letter-spacing: 0.1em;
    margin: 0 0 2em 0;
    text-transform: uppercase;
}

#contactUs a.special:not(.button):before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    text-transform: none !important;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

#contactUs a.special:not(.button):before {
    -moz-transition: background-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
    border-radius: 100%;
    border: solid 2px rgba(255, 255, 255, 0.125);
    content: '\f105';
    display: inline-block;
    font-size: 1.25em;
    height: 2em;
    line-height: 1.75em;
    margin-right: 0.85em;
    text-align: center;
    text-indent: 0.15em;
    vertical-align: middle;
    width: 2em;
}

#contactUs a.special:not(.button):hover:before {
    background-color: rgba(255, 255, 255, 0.025);
}

#contactUs a.special:not(.button):active:before {
    background-color: rgba(255, 255, 255, 0.075);
}

#contactUs strong,#contactUs b {
    color: #ffffff;
    font-weight: 600;
}

#contactUs em,#contactUs i {
    font-style: italic;
}

#contactUs p {
    margin: 0 0 2em 0;
}

#contactUs h1,#contactUs h2,#contactUs h3,#contactUs h4,#contactUs h5,#contactUs h6 {
    color: #ffffff;
    font-family: Raleway, Helvetica, sans-serif;
    font-weight: 700;
    letter-spacing: 0.1em;
    margin: 0 0 1em 0;
    text-transform: uppercase;
}

#contactUs h1 a,#contactUs h2 a,#contactUs h3 a,#contactUs h4 a,#contactUs h5 a,#contactUs h6 a {
    color: inherit;
    text-decoration: none;
    border-bottom: 0;
}

#contactUs h1 span,#contactUs h2 span,#contactUs h3 span,#contactUs h4 span,#contactUs h5 span,#contactUs h6 span {
    font-weight: 200;
}

#contactUs h1.major,#contactUs h2.major,#contactUs h3.major,#contactUs h4.major,#contactUs h5.major,#contactUs h6.major {
    padding-bottom: 1em;
    border-bottom: solid 2px rgba(255, 255, 255, 0.125);
}

#contactUs h2 {
    font-size: 1.2em;
}

#contactUs h3 {
    font-size: 0.9em;
}

#contactUs h4 {
    font-size: 0.7em;
}

#contactUs h5 {
    font-size: 0.7em;
}

#contactUs h6 {
    font-size: 0.7em;
}

@media screen and (max-width: 736px) {

    #contactUs h2 {
        font-size: 1em;
    }

    #contactUs h3 {
        font-size: 0.8em;
    }

}

#contactUs sub {
    font-size: 0.8em;
    position: relative;
    top: 0.5em;
}

#contactUs sup {
    font-size: 0.8em;
    position: relative;
    top: -0.5em;
}

#contactUs blockquote {
    border-left: solid 4px rgba(255, 255, 255, 0.125);
    font-style: italic;
    margin: 0 0 2em 0;
    padding: 0.5em 0 0.5em 2em;
}

#contactUs code {
    background: rgba(255, 255, 255, 0.025);
    border-radius: 5px;
    border: solid 2px rgba(255, 255, 255, 0.125);
    font-family: "Courier New", monospace;
    font-size: 0.9em;
    margin: 0 0.25em;
    padding: 0.25em 0.65em;
}

#contactUs pre {
    -webkit-overflow-scrolling: touch;
    font-family: "Courier New", monospace;
    font-size: 0.9em;
    margin: 0 0 2em 0;
}

#contactUs pre code {
    display: block;
    line-height: 1.75em;
    padding: 1em 1.5em;
    overflow-x: auto;
}

#contactUs hr {
    border: 0;
    border-bottom: solid 2px rgba(255, 255, 255, 0.125);
    margin: 2.5em 0;
}

#contactUs hr.major {
    margin: 4em 0;
}

section.special, article.special {
    text-align: center;
}

#contactUs form {
    margin: 0 0 2em 0;
}

#contactUs form > :last-child {
    margin-bottom: 0;
}

#contactUs form > .fields {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: calc(100% + 3em);
    margin: -1.5em 0 2em -1.5em;
}

#contactUs form > .fields > .field {
    -moz-flex-grow: 0;
    -webkit-flex-grow: 0;
    -ms-flex-grow: 0;
    flex-grow: 0;
    -moz-flex-shrink: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    padding: 1.5em 0 0 1.5em;
    width: calc(100% - 1.5em);
}

#contactUs form > .fields > .field.half {
    width: calc(50% - 0.75em);
}

#contactUs form > .fields > .field.third {
    width: calc(100%/3 - 0.5em);
}

#contactUs form > .fields > .field.quarter {
    width: calc(25% - 0.375em);
}

@media screen and (max-width: 480px) {

    #contactUs form > .fields {
        width: calc(100% + 3em);
        margin: -1.5em 0 2em -1.5em;
    }

    #contactUs form > .fields > .field {
        padding: 1.5em 0 0 1.5em;
        width: calc(100% - 1.5em);
    }

    #contactUs form > .fields > .field.half {
        width: calc(100% - 1.5em);
    }

    #contactUs form > .fields > .field.third {
        width: calc(100% - 1.5em);
    }

    #contactUs form > .fields > .field.quarter {
        width: calc(100% - 1.5em);
    }

}

#contactUs label {
    color: #ffffff;
    display: block;
    font-family: Raleway, Helvetica, sans-serif;
    font-size: 0.8em;
    font-weight: 700;
    letter-spacing: 0.1em;
    margin: 0 0 0.7em 0;
    text-transform: uppercase;
}

#contactUs input[type="text"],
#contactUs input[type="password"],
#contactUs input[type="email"],
#contactUs input[type="tel"],
#contactUs select,
#contactUs textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: rgba(255, 255, 255, 0.025);
    border-radius: 5px;
    border: none;
    border: solid 2px rgba(255, 255, 255, 0.125);
    color: inherit;
    display: block;
    outline: 0;
    padding: 0 1em;
    text-decoration: none;
    width: 100%;
}

#contactUs input[type="text"]:invalid,
#contactUs input[type="password"]:invalid,
#contactUs input[type="email"]:invalid,
#contactUs input[type="tel"]:invalid,
#contactUs select:invalid,
#contactUs textarea:invalid {
    box-shadow: none;
}

#contactUs input[type="text"]:focus,
#contactUs input[type="password"]:focus,
#contactUs input[type="email"]:focus,
#contactUs input[type="tel"]:focus,
#contactUs select:focus,
#contactUs textarea:focus {
    border-color: #5b6ba6;
}

#contactUs select {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='rgba(255, 255, 255, 0.125)' /%3E%3C/svg%3E");
    background-size: 1.25rem;
    background-repeat: no-repeat;
    background-position: calc(100% - 1rem) center;
    height: 2.75em;
    padding-right: 2.75em;
    text-overflow: ellipsis;
}

#contactUs select option {
    color: #ffffff;
    background: #2e3141;
}

#contactUs select:focus::-ms-value {
    background-color: transparent;
}

#contactUs select::-ms-expand {
    display: none;
}

#contactUs input[type="text"],
#contactUs input[type="password"],
#contactUs input[type="email"],
#contactUs select {
    height: 2.75em;
}

#contactUs textarea {
    padding: 0.75em 1em;
}

#contactUs input[type="checkbox"],
#contactUs input[type="radio"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    display: block;
    float: left;
    margin-right: -2em;
    opacity: 0;
    width: 1em;
    z-index: -1;
}

#contactUs input[type="checkbox"] + label,
#contactUs input[type="radio"] + label {
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    text-transform: none;
    letter-spacing: 0;
    font-weight: 300;
    padding-left: 2.4em;
    padding-right: 0.75em;
    position: relative;
}

#contactUs input[type="checkbox"] + label:before,
#contactUs input[type="radio"] + label:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    text-transform: none !important;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

#contactUs input[type="checkbox"] + label:before,
#contactUs input[type="radio"] + label:before {
    background: rgba(255, 255, 255, 0.025);
    border-radius: 5px;
    border: solid 2px rgba(255, 255, 255, 0.125);
    content: '';
    display: inline-block;
    font-size: 0.8em;
    height: 2.0625em;
    left: 0;
    line-height: 2.0625em;
    position: absolute;
    text-align: center;
    top: 0;
    width: 2.0625em;
}

#contactUs input[type="checkbox"]:checked + label:before,
#contactUs input[type="radio"]:checked + label:before {
    background: #ffffff;
    border-color: #ffffff;
    content: '\f00c';
    color: #2e3141;
}

#contactUs input[type="checkbox"]:focus + label:before,
#contactUs input[type="radio"]:focus + label:before {
    border-color: #4c5c96;
}

#contactUs input[type="checkbox"] + label:before {
    border-radius: 5px;
}

#contactUs input[type="radio"] + label:before {
    border-radius: 100%;
}

::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.35) !important;
    opacity: 1.0;
}

:-moz-placeholder {
    color: rgba(255, 255, 255, 0.35) !important;
    opacity: 1.0;
}

::-moz-placeholder {
    color: rgba(255, 255, 255, 0.35) !important;
    opacity: 1.0;
}

:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.35) !important;
    opacity: 1.0;
}

#contactUs .box {
    border-radius: 5px;
    border: solid 2px rgba(255, 255, 255, 0.125);
    margin-bottom: 2em;
    padding: 1.5em;
}

#contactUs .box > :last-child,
#contactUs .box > :last-child > :last-child,
#contactUs .box > :last-child > :last-child > :last-child {
    margin-bottom: 0;
}

#contactUs .box.alt {
    border: 0;
    border-radius: 0;
    padding: 0;
}

#contactUs .icon {
    text-decoration: none;
    border-bottom: none;
    position: relative;
}

#contactUs .icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    text-transform: none !important;
    font-family: 'Font Awesome 5 Free';
    font-weight: 400;
}

#contactUs .icon > .label {
    display: none;
}

#contactUs .icon:before {
    line-height: inherit;
}

#contactUs .icon.solid:before {
    font-weight: 900;
}

#contactUs .icon.brands:before {
    font-family: 'Font Awesome 5 Brands';
}

#contactUs  ol {
    list-style: decimal;
    margin: 0 0 2em 0;
    padding-left: 1.25em;
}

#contactUs  ol li {
    padding-left: 0.25em;
}

#contactUs  ul {
    list-style: disc;
    margin: 0 0 2em 0;
    padding-left: 1em;
}

#contactUs  ul li {
    padding-left: 0.5em;
}

#contactUs  ul.alt {
    list-style: none;
    padding-left: 0;
}

#contactUs  ul.alt li {
    border-top: solid 1px rgba(255, 255, 255, 0.125);
    padding: 0.5em 0;
}

#contactUs  ul.alt li:first-child {
    border-top: 0;
    padding-top: 0;
}

#contactUs  dl {
    margin: 0 0 2em 0;
}

#contactUs  dl dt {
    display: block;
    font-weight: 600;
    margin: 0 0 1em 0;
}

#contactUs  dl dd {
    margin-left: 2em;
}

#contactUs ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
}

#contactUs ul.icons li {
    display: inline-block;
    padding: 0 1em 0 0;
}

#contactUs ul.icons li:last-child {
    padding-right: 0;
}

#contactUs ul.icons li .icon:before {
    font-size: 1.25em;
}

#contactUs ul.contact {
    list-style: none;
    padding: 0;
}

#contactUs ul.contact li {
    text-decoration: none;
    margin: 2.5em 0 0 0;
    padding: 0 0 0 3.25em;
    position: relative;
}

#contactUs ul.contact li:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    text-transform: none !important;
    font-family: 'Font Awesome 5 Free';
    font-weight: 400;
}

#contactUs ul.contact li:before {
    border-radius: 100%;
    border: solid 2px rgba(255, 255, 255, 0.125);
    display: inline-block;
    font-size: 0.8em;
    height: 2.5em;
    left: 0;
    line-height: 2.35em;
    position: absolute;
    text-align: center;
    top: 0;
    width: 2.5em;
}

#contactUs ul.contact li:first-child {
    margin-top: 0;
}

@media screen and (max-width: 736px) {

    #contactUs ul.contact li {
        margin: 1.5em 0 0 0;
    }

}

#contactUs input[type="submit"],
#contactUs input[type="reset"],
#contactUs input[type="button"],
#contactUs button,
#contactUs .button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
    background-color: transparent;
    border-radius: 5px;
    border: 0;
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.125);
    color: #ffffff !important;
    cursor: pointer;
    display: inline-block;
    font-family: Raleway, Helvetica, sans-serif;
    font-size: 0.8em;
    font-weight: 700;
    height: 3.75em;
    letter-spacing: 0.1em;
    line-height: 3.75em;
    padding: 0 2.25em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}

#contactUs input[type="submit"]:hover,
#contactUs input[type="reset"]:hover,
#contactUs input[type="button"]:hover,
#contactUs button:hover,
#contactUs .button:hover {
    background-color: rgba(255, 255, 255, 0.025);
}

#contactUs input[type="submit"]:active,
#contactUs input[type="reset"]:active,
#contactUs input[type="button"]:active,
#contactUs button:active,
#contactUs .button:active {
    background-color: rgba(255, 255, 255, 0.075);
}

#contactUs input[type="submit"].icon:before,
#contactUs input[type="reset"].icon:before,
#contactUs input[type="button"].icon:before,
#contactUs button.icon:before,
#contactUs .button.icon:before {
    margin-right: 0.5em;
    color: rgba(255, 255, 255, 0.35);
}

#contactUs input[type="submit"].primary,
#contactUs input[type="reset"].primary,
#contactUs input[type="button"].primary,
#contactUs button.primary,
#contactUs .button.primary {
    background-color: #4c5c96;
    box-shadow: none;
}

#contactUs input[type="submit"].primary:hover,
#contactUs input[type="reset"].primary:hover,
#contactUs input[type="button"].primary:hover,
#contactUs button.primary:hover,
#contactUs .button.primary:hover {
    background-color: #53639e;
}

#contactUs input[type="submit"].primary:active,
#contactUs input[type="reset"].primary:active,
#contactUs input[type="button"].primary:active,
#contactUs button.primary:active,
#contactUs .button.primary:active {
    background-color: #45558d;
}

#contactUs input[type="submit"].primary.icon:before,
#contactUs input[type="reset"].primary.icon:before,
#contactUs input[type="button"].primary.icon:before,
#contactUs button.primary.icon:before,
#contactUs .button.primary.icon:before {
    color: #7985b0;
}

#contactUs input[type="submit"].fit,
#contactUs input[type="reset"].fit,
#contactUs input[type="button"].fit,
#contactUs button.fit,
#contactUs .button.fit {
    width: 100%;
}

#contactUs input[type="submit"].small,
#contactUs input[type="reset"].small,
#contactUs input[type="button"].small,
#contactUs button.small,
#contactUs .button.small {
    font-size: 0.6em;
}

#contactUs input[type="submit"].large,
#contactUs input[type="reset"].large,
#contactUs input[type="button"].large,
#contactUs button.large,
#contactUs .button.large {
    font-size: 1em;
}

#contactUs input[type="submit"].disabled,#contactUs input[type="submit"]:disabled,
#contactUs input[type="reset"].disabled,
#contactUs input[type="reset"]:disabled,
#contactUs input[type="button"].disabled,
#contactUs input[type="button"]:disabled,
#contactUs button.disabled,
#contactUs button:disabled,
#contactUs .button.disabled,
#contactUs .button:disabled {
    opacity: 0.25;
}

@media screen and (max-width: 480px) {

    #contactUs input[type="submit"],
    #contactUs input[type="reset"],
    #contactUs input[type="button"],
    #contactUs button,
    #contactUs .button {
        padding: 0;
    }

}